jsfring-common-test/src/test/resources/example.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="BIBLIOTHEQUE">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="MAGAZINE">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TITRE" type="xs:string"/>
                            <xs:element name="DATEPARUTION" type="xs:date"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ROMAN">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TITRE" type="xs:string"/>
                            <xs:element name="AUTEUR" type="xs:string"/>
                            <xs:element name="PRIX" type="xs:integer"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>